DATABASE_URL=
DISABLE_HMR=
OWNER_NOTIFICATION_WEBHOOK_URL=
GEMINI_API_KEY=
PORT=3000
SYSTEM_STATUS=LOCKED_FROZEN_v1.2_LTS
MERKLE_GENESIS=0x909ab814479844d8a14816bed34cdbb07528e18501da86fc4691763a43fa4c68
